/* Retro css with floats to make it easy for weasyprint */

html {
  font-family: "Charis SIL", sans-serif;
  font-size: 1rem;
}

* {
  margin: 0;
  padding: 0;
}

p,
li {
  line-height: 1.2rem;
}

body {
  padding: 0.3rem 1rem 1rem 1rem;
  max-width: 120rem;
}

.clearfix {
  clear: both;
}

li {
  margin: 0 0 0 2rem;
}

a {
  color: inherit;
  /* make sure hover background doesn't obscure surrounding text: */
  display: inline-block;
}
a:hover {
  background-color: gold;
}

header + ul {
  list-style: none outside none;
  background-color: #eaeaea;
  border: 1px solid black;
  padding: 0.5rem;
  float: right;
  margin-left: 0.5rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}
header + ul li {
  margin: 0;
  padding: 0;
}

header + ul + p,
p + p {
  margin-bottom: 0.5rem;
}

h1 {
  /* name */
  font-size: 2rem;
}

h2 {
  /* experience / qualifications / open source software */
  font-size: 1.5rem;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 1rem;
  border-bottom: 1px solid black;
}

h3 {
  /* company */
  font-size: 1.3rem;
  line-height: 1.3rem;
  padding: 0.2rem 0;
  margin-top: 1rem;
}

h4 {
  /* job title (year) */
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: normal;
  font-style: italic;
  margin-bottom: 0.2rem;
}

#right-column,
#open-source-projects {
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
  vertical-align: top;
  float: left;
}
#right-column {
  padding-left: 2rem;
}

@media (max-width: 30rem) {
  header + ul {
    margin: 0.5rem 0 1rem 0;
    width: fit-content;
    float: none;
  }
}
@media (max-width: 50rem) {
  #right-column,
  #open-source-projects {
    display: block;
    width: 100%;
    float: none;
    padding: 0;
  }
}

@page {
  size: A4 portrait;
  margin: 8pt 8pt 12pt 8pt;
}

@media print {
  html {
    font-size: 13.5px;
  }
  h1 {
    margin-top: 0;
  }
  h2 {
    margin-top: 2rem;
  }

  #right-column,
  #open-source-projects {
    display: block;
    width: 100%;
    float: none;
    padding: 0;
  }
}

/* charis-sil-regular - latin_vietnamese */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Charis SIL";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/charis-sil-v2-latin_vietnamese-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* charis-sil-italic - latin_vietnamese */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Charis SIL";
  font-style: italic;
  font-weight: 400;
  src: url("fonts/charis-sil-v2-latin_vietnamese-italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* charis-sil-700 - latin_vietnamese */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Charis SIL";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/charis-sil-v2-latin_vietnamese-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* charis-sil-700italic - latin_vietnamese */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Charis SIL";
  font-style: italic;
  font-weight: 700;
  src: url("fonts/charis-sil-v2-latin_vietnamese-700italic.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
